@model FrontEndBA.Models.ResearcherModel.AccountViewModels.ResearcherProfileViewModel

@{
    ViewData["Title"] = "Researcher";
}

<h2>My Profile</h2>
<h3>Placeholder text for MyProfile - Figure dat shiet aut!</h3>

<hr />
<div class="row">
    <div class="row">
        <div class="med-column">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="med-column">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="med-column" style="visibility: collapse">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">

        <div class="small-column">
            <label asp-for="ResID" class="control-label"></label>
            <input asp-for="ResID" class="form-control" />
            <span asp-validation-for="ResID" class="text-danger"></span>
        </div>
        <div class="small-column">
            <label asp-for="ResName" class="control-label"></label>
            <input asp-for="ResName" class="form-control" />
            <span asp-validation-for="ResName" class="text-danger"></span>
        </div>
        <div class="small-column">
            <label asp-for="Verified" class="control-label"></label>
            <input asp-for="Verified" class="form-control" />
            <span asp-validation-for="Verified" class="text-danger"></span>
        </div>
        <div class="small-column">
            <label asp-for="AdminRights" class="control-label"></label>
            <input asp-for="AdminRights" class="form-control" />
            <span asp-validation-for="AdminRights" class="text-danger"></span>
        </div>

    </div>
    <div style="float: left; margin-left: 15px; width: 110px">
        <input type="submit" value="Change Data" class="btn btn-default" formaction="CreateResearcher" />
    </div>
    <div style="float: left; margin-left: 35px; width: 110px">
        <input type="submit" value="Cancel" class="btn btn-default" formaction="CreateResearcher" />
    </div>

</div>

