body {
    padding-top: 70px;
    padding-bottom: 40px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.control-label {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    color: black;
    border-width: 1px;
}

.biggerinput {
    height: 100px;
}

.parantHover:hover {
    background-color: #002546;
    color: white;
    cursor: pointer;
}

.btn-default {
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.maps {
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
    height: 50%;
    width: 50%;
}

.iframe-container {
    overflow: hidden;
    padding-top: 40.25%;
    position: relative;
}

    .iframe-container iframe {
        border: 5px;
        height: 95%;
        left: 0;
        position: absolute;
        top: 10px;
        width: 95%;
    }

/* 4x3 Aspect Ratio */

/* QR code generator */
#qrCode {
    margin: 15px;
}

table {
    border: groove;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}


.bottomdivwrapper {
    text-align: center;
}

.button {
    position: absolute;
    bottom: 0;
}

.button:active{
    background-color:red;
}

.menu {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #002546;
}

.menuItems {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .menuItems:hover {
        background-color: #111;
    }


.studyheader {
    background-color: darken($baseColor, 5%);
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.table-study {
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}

.StudyContainerOuter {
    background-color: white;
    height: 500px;
    width: 95%;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #002546;
}

.StudyContainerInner {
    overflow-y: scroll;
    height: 430px;
}

.ParticipantContainer {
    background-color: white;
    height: 500px;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #002546;
}

.ManageContainer {
    background-color: white;
    height: 350px;
    width: 40%;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #002546;
    float:right;
    margin-right:80px;
}


.th {
    height: 50px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
