body {
    padding-top: 70px;
    padding-bottom: 40px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.control-label {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    color: lightblue;
    border-width: 1px;
}
.btn-default{
    background-color: lightgray; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


#footer {
    position: fixed;
    text-align: center;
    width: 100%;
}
.table {
    width: 100%;
}

.bottomdivwrapper {
    text-align: center;
}
.button {
    position: absolute;
    bottom:0;
}


.th {
    height: 50px;
}

    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }
    }

