
@{
    ViewData["Title"] = "About";
}

<h2>About Us</h2>

<p>Take a minute to read about The Department of Dentistry and Oral Health and our mission.</p>

<h3>Misson</h3>
<p>The department's mission is to promote dental, oral and maxillofacial public health through research, education and talent development on a high international level, as well as to communicate and interact with society in general within this field.</p>

<h3>Vision</h3>

<p>The department's mission of promoting dental, oral and maxillofacial public health is to be achieved by:</p>
<ul>
    <li>Being a leading international knowledge centre within odontology and oral health and participating in interdisciplinary activities with a view to qualifying efforts to improve dental, oral and maxillofacial public health, as well as oral health-related quality of life.</li>
    <li>Being internationally recognised for combining research-based knowledge and practice.</li>
    <li>Carrying out research within the odontological field of study and strengthening the knowledge base within prevention and health promotion, diagnostics, control of disease activity and the treatment of dental, oral and maxillofacial diseases.</li>
    <li>Having research career paths for the whole odontology field and an attractive research environment based on diversity, interdisciplinarity and collaboration combined with key competences and specialisation.</li>
    <li>Training the 'odontological team' – consisting of dentists, dental specialists, dental hygienists, clinical dental technicians and dental surgery assistants – so they are competent, collaborative and reflective practitioners of their profession for the benefit of dental, oral and maxillofacial public health;</li>
    <li>Being an attractive and diverse place of study for all degree programmes with a high degree of employer satisfaction.</li>
    <li>Ensuring that the department's degree programmes continuously match current needs;</li>
    <li>Being a centre for further and continuing education of dentists, dental specialists, dental hygienists, clinical dental technicians and dental surgery assistants.</li>
    <li>Endeavouring to ensure that the odontological aspects are included in research projects and health initiatives which are targeted at public health in general.</li>
    <li>Being an attractive workplace that is able to attract, develop and retain highly qualified employees, where collaboration is based on trust, equality and respect.</li>
</ul>