
@{
    ViewData["Title"] = "Contact";
}

<div class="csc-header csc-header-n1"><h2 class="csc-firstHeader">Contact The Department</h2></div>
<div id="c72819" ><p><b>Department of Dentistry and Oral Health<br></b>Aarhus University<br>Vennelyst Boulevard 9<br>8000 Aarhus C
    </p>
    <p>Email: <a href="mailto:ioos@au.dk">ioos@au.dk</a><br>Phone: +45 87 16 74 00<br>Fax: +45 86 19 60 29</p></div>
<br/>
<div class="csc-header csc-header-n3"><h2>Information For Patients</h2></div>
<div id="c72821" class="csc-frame au_collapsible"><p><b>Aarhus School of Dentistry</b><b><br></b>Aarhus University<br>Vennelyst Boulevard 9<br>8000 Aarhus C
    </p>
    <p>Email:&nbsp;<a href="mailto:klinikreceptionen@dent.au.dk">ioos@au.dk</a><br>Phone: +45 87 16 74 00<br>Aarhus School of Dentistry</p></div>


