@model FrontEndBA.Models.ResearcherModel.EmailModels.SendingModel
@{
    ViewData["Title"] = "Index";
}
<div style="margin-left: 25px; margin-top: 15px">
    <form method="post" asp-action="Create" asp-controller="SendToParticipant">
        <div class="form-group">
            <div>
                <label>Title</label>
            </div>

            <label asp-for="Mail.Subject">
                <input type="text" class="form-control" placeholder="@Html.ViewData.Model.Study.study.Name.ToString()" asp-for="Mail.Subject">
                <span asp-validation-for="Mail.Subject" class="text-danger"></span>
            </label>
        </div>
        <div class="form-group">
            <label>The number of eligible participants for this study is @Model.ParticipantCount.ToString()</label>
        </div>
        <div class="form-group">
            <div>
                <label>Mail Content</label>
            </div>
            <label asp-for="Mail.MailBody">
                <textarea cols='124' rows='12' style="width: 250%" asp-for="Mail.MailBody">
   
            </textarea>
            </label>

        </div>
        <button type="button" data-toggle="modal" data-target=".confirm" class="btn btn-default">Send</button>
        <button asp-controller="SendToParticipant" asp-action="Back" asp-route-studyID="@Model.Study.study.IdStudy" class="btn btn-default">Back</button>
        
        <div class="modal fade confirm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close"><span>&times;</span></button>
                        <div class="modal-title"><h2>Want to Send this study?</h2></div>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to send</h4>
                    </div>
                    <div class="modal-footer">
                        <button asp-controller="SendToParticipant" asp-action="Create" asp-route-studyID="@Model.Study.study.IdStudy" type="submit" class="btn btn-default">Send</button>
                        <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>




@section Scripts
{
    <script>tinymce.init({ selector:'textarea',force_p_newlines : false,
    force_br_newlines : true,
    convert_newlines_to_brs : true,
    remove_linebreaks: false
});</script>
}