@model FrontEndBA.Models.SharedModels.RetrieveModel

@{
    ViewData["Title"] = "Researcher";
}

<h2>Researcher</h2>

<h4>Enter your email and a password will be sent to you</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Researcher">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <button style="width: 40%"  type="submit" asp-controller="RetrieveAccount" asp-action="RetrieveResearcher" class="btn btn-default">Send</button>


                <button asp-controller="RetrieveAccount" asp-action="BackResearcher" style="width: 40%" class="btn btn-default">Back</button>
            </div>
        </form>
    </div>
    <div style="text-align: right" class="col-md-4">
        <img src="~/images/ResearcherIcon.PNG" alt="Error Logo" style="width: 50%; height: 50%">
    </div>
</div>
