@model FrontEndBA.Models.CreateStudy.CreateStudyModel
@using FrontEndBA.Models.SharedModels;
@using FrontEndBA.Models.ResearcherModel.CreateStudyModel;

@{
    ViewData["Title"] = "EditStudy";
}


<h2>Edit study</h2>
<div class="container" style="width: 80%;">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-5" id="right" style="background-color: white; width: 100%; border-radius:10px">
                <h3 class="tableTitle">Please input study information for study <text style="float:right">ID @Model.currentStudy.IdStudy</text></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-2">
                                <label asp-for="currentStudy.Name" class="control-label"></label>
                            </th>
                            <th>
                                <div class="form-group">
                                    <input asp-for="currentStudy.Name" class="form-control" title="Edit study name here" />
                                    <span asp-validation-for="currentStudy.Name" class="text-danger"></span>
                                    <input asp-for="currentStudy.IdStudy" hidden />

                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <label asp-for="currentStudy.Abstract" class="control-label"></label>
                            </th>
                            <th>
                                <div class="form-group">
                                    <input asp-for="currentStudy.Abstract" class="form-control" title="Edit study abstract here" />
                                    <span asp-validation-for="currentStudy.Abstract" class="text-danger"></span>
                                </div>
                            </th>
                        </tr>
                        <tr class="biggerinput">
                            <th class="col-md-1">
                                <div style="margin-top: -100px">
                                    <label asp-for="currentStudy.Description" class="control-label"></label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <textarea asp-for="currentStudy.Description" class="form-control" style="height: 100px" title="Edit study description here"></textarea>
                                    <span asp-validation-for="currentStudy.Description" class="text-danger"></span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <label asp-for="currentStudy.Pay" class="control-label"></label>
                            </th>
                            <th>
                                <div class="form-group">
                                    <input asp-for="currentStudy.Pay" class="form-control" title="Edit study payment here" />
                                    <span asp-validation-for="currentStudy.Pay" class="text-danger"></span>
                                </div>
                            </th>
                        </tr>
                        <tr style=" border-collapse: collapse; border-spacing: 0;">
                            <th class="col-md-1">
                                <div style="position:relative;">
                                    <label asp-for="currentStudy.Location" class="control-label"></label>
                                </div>
                            </th>
                            <th>
                                @if (Model.currentStudy.Location.Contains("<iframe"))
                                {
                                    <input asp-for="currentStudy.Location" class="form-control" title="Edit study location here" />
                                    <span asp-validation-for="currentStudy.Location" class="text-danger"></span>
                                    <div class="iframe-container">
                                        @Html.Raw(Model.currentStudy.Location)
                                    </div>
                                }
                                else
                                {
                                    <input asp-for="currentStudy.Location" class="form-control" title="Edit study location here" />
                                    <span asp-validation-for="currentStudy.Location" class="text-danger"></span>

                                }
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <label asp-for="currentStudy.Duration" class="control-label"></label>
                            </th>
                            <th>
                                <div class="form-group">
                                    <input asp-for="currentStudy.Duration" class="form-control" title="Edit duration of study here. Format should be XX sessions of XX minutes. Example: 5 sessions of 60 minutes" />
                                    <span asp-validation-for="currentStudy.Duration" class="text-danger"></span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-2">
                                <label asp-for="currentStudy.Preparation" class="control-label"></label>
                            </th>
                            <th>
                                <div class="form-group">
                                    <input asp-for="currentStudy.Preparation" class="form-control" title="Edit study preparation here" />
                                    <span asp-validation-for="currentStudy.Preparation" class="text-danger"></span>
                                </div>
                            </th>
                        </tr>
                        <tr class="biggerinput">
                            <th class="col-md-1">
                                <div style="margin-top: -100px">
                                    <label asp-for="currentStudy.EligibilityRequirements" class="control-label"></label>
                                </div>

                            </th>
                            <th>
                                <div class="form-group">
                                    <textarea asp-for="currentStudy.EligibilityRequirements" class="form-control" style="height: 100px" title="Edit eligibility requirements here"></textarea>
                                    <span asp-validation-for="currentStudy.EligibilityRequirements" class="text-danger"></span>
                                </div>
                            </th>
                        </tr>

                        <tr>
                            <th class="col-md-1">
                                <label asp-for="inclusioncriteria.IsMale" class="control-label"></label>
                            </th>
                            <th>
                                <div class="form-group">

                                    <div class="checkbox">

                                        <label class="control-label">
                                            <input asp-for="inclusioncriteria.IsMale" value="true" type="radio" id="myFirstId" />Yes
                                            <input asp-for="inclusioncriteria.IsMale" value="false" type="radio" id="mySecondId" />No
                                        </label>
                                        <span asp-validation-for="inclusioncriteria.IsMale" class="text-danger"></span>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-1">
                                <label asp-for="inclusioncriteria.IsFemale" class="control-label"></label>
                            </th>
                            <th>
                                <div class="form-group">
                                    <div class="checkbox">

                                        <label class="control-label">
                                            <input asp-for="inclusioncriteria.IsFemale" value="true" type="radio" id="myFirstId" />Yes
                                            <input asp-for="inclusioncriteria.IsFemale" value="false" type="radio" id="mySecondId" />No
                                        </label>
                                        <span asp-validation-for="inclusioncriteria.IsFemale" class="text-danger"></span>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr action="" class="form-horizontal">
                            <th class="col-md-1">
                                <label class="control-label" style="text-align:left; margin-top:-85px"> Participants age*</label>
                            </th>
                            <th>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <div style="color: lightblue;">
                                            <label asp-for="inclusioncriteria.MaxAge" class="control-label"></label>
                                        </div>
                                        <input asp-for="inclusioncriteria.MinAge" class="form-control" title="Edit study minimum age here" />
                                        <span asp-validation-for="inclusioncriteria.MinAge" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <div style="color: lightblue;">
                                            <label asp-for="inclusioncriteria.MinAge" class="control-label"></label>
                                        </div>
                                        <input asp-for="inclusioncriteria.MaxAge" class="form-control" title="Edit study maximum age here" />
                                        <span asp-validation-for="inclusioncriteria.MinAge" class="text-danger"></span>
                                    </div>

                                </div>

                            </th>
                        </tr>
                        <tr>
                            <th class="col-md-1">
                                <label class="control-label"> Does the participant have to speak english?</label>

                            </th>
                            <th>
                                <div class="form-group">

                                    <div class="checkbox">

                                        <label class="control-label">
                                            <input asp-for="inclusioncriteria.English" value="true" type="radio" id="myFirstId" />Yes
                                            <input asp-for="inclusioncriteria.English" value="false" type="radio" id="mySecondId" />No
                                        </label>
                                        <span asp-validation-for="inclusioncriteria.English" class="text-danger"></span>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" formaction="Edit" />
            <input value="Cancel" class="btn btn-default" onclick="location.href = '@(Url.Action("ViewStudy", "ViewStudy", new { studyID = Model.currentStudy.IdStudy }))'" />
        </div>
    </form>

</div>








