
@{
    ViewData["Title"] = "NotVerifiedResearcher";
}

<h2>You are not verified</h2>
<h3>Before you can access this webpage as a researcher you need to be verified by an admin. Contact your nearest admin to be verified and start creating and managing studies.</h3>


