@{
    ViewBag.Title = "Error occurred";
}

<h2>We have a problem</h2>

<p>Sorry, an error occurred while executing your request.</p>
<p>If this error keeps </p>

<div style="text-align: center">
    <img src="~/images/ErrorLogo.PNG" alt="Error Logo" style="width: 50%; height: 50%" >
</div>