@{
    ViewBag.Title = "404";
}

<h2>404 - Page not found</h2>

<p>Oops, better check that URL.</p>

<div style="text-align: center">
    <img src="~/images/ErrorLogo.PNG" alt="Error Logo" style="width: 50%; height: 50%">
</div>